Tupla - são estruturas de dados muito parecidos com as listas, a principal difernça é que tuplas são imutáveis enquanto listas são mutaveis. Podemos criar tuplas através de classe tuple, ou colocando valores separados por vírgulas de parenteses.

In [ ]:
## Tuplas - a virgula é uma boa pratica

frutas = ("laranja", "pera", "uva",)

frutas

('laranja', 'pera', 'uva')

In [ ]:
letras = tuple("python")

letras

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
numeros = tuple([1, 2, 3, 4])

numeros

(1, 2, 3, 4)

In [ ]:
pais = ("Brasil",)

pais

('Brasil',)

In [ ]:
## acesso direto

frutas = ("maçã", "laranja", "uva", "pera",)

print(frutas[0])
print(frutas[2])

maçã
uva

In [ ]:
## indices negativos

frutas = ("maçã", "laranja", "uva", "pera",)

print(frutas[-1])
print(frutas[-3])

pera
laranja

Tuplas aninhadas - Tuplas podem armazenar todos os tipos de objetos Python, portanto podemos ter tuplas que armazenam outras tuplas. Com isso podemos criar estruturas bidimensionais (tabelas), e acessar informando os índices de linha e coluna.

In [ ]:
matriz = (
    (1, "a", 2),
    ("b", 3, 4),
    (6, 5, "c"),
)

print(matriz[0])
print(matriz[0][0])
print(matriz[0][-1])
print(matriz[-1][-1])

(1, 'a', 2)
1
2
c

Fatiamento - Além de acessar elementos diretamente, podemos extrair um conjunto de valores de uma sequência. Para isso basta passar o índice inical e/ou final para acessar o conjunto. Podemos ainda informar quantas posições o cursor deve "pular" no acesso.

In [ ]:
## stap stop step

tupla = ('p', 'y', 't', 'h', 'o', 'n')

print(tupla[2:]) ## apartir do 2 indo até o fim
print(tupla[:2])  ## apartir do 0 indo até o 2
print(tupla[1:3])  # apartir do 1 até o 3
print(tupla[0:3:2]) # apartir do 0 indo até o 3 indo de dois em dois elementos
print(tupla[::])  # espelhamento
print(tupla[::-1]) # invertida

('t', 'h', 'o', 'n')
('p', 'y')
('y', 't')
('p', 't')
('p', 'y', 't', 'h', 'o', 'n')
('n', 'o', 'h', 't', 'y', 'p')

In [ ]:
## interar tuplas - a forma mais comum para percorrer os dados de uma tuplas é utilizando o comando for

carros = ("gol", "celta", "palio",)

for carro in carros:
  print(carro)

gol
celta
palio

In [ ]:
## função enumerate

carros = ("gol", "celta", "palio",)

for indice, carro in enumerate(carros):
  print(f"{indice}: {carro}")

0: gol
1: celta
2: palio

Métodos da classe tuple -

In [ ]:
## ().count

cores = ("vermelho", "azul", "verde", "azul",)

print(cores.count("vermelho"))
print(cores.count("azul"))
print(cores.count("verde"))

1
2
1

In [ ]:
## ().index

linguagens = ("python", "js", "c", "java", "csharp",)

print(linguagens.index("java"))
print(linguagens.index("python"))

3
0

In [ ]:
## len  - tamanhho total de elementos na tupla

linguagens = ("python", "js", "c", "java", "csharp",)

len(linguagens)

5