In [ ]:
print("hello class")

hello class

In [ ]:
x = 2
y = 3

print("x =", x, "y =", y)

x = 2 y = 3

In [ ]:
print("x =", x, "y =", y, sep=',', end='..\n')

x =,2,y =,3..

In [ ]:
## input

x = input("Digite o valor de x: ")

Digite o valor de x: 3

In [ ]:
type(x)

str

In [ ]:
c = input("digite a temperatura em Celsius: ")
c_temp = eval(c) #converter str

f = 1.8 * c_temp + 32

print(f"{f} gruas Fahrenheit.")

digite a temperatura em Celsius: 24
75.2 gruas Fahrenheit.

In [ ]:
### funções

def f(x):
  res = x **2 + 1
  return res

In [ ]:
f(4)

17

In [ ]:
def cal_combustivel(distancia, consumo_medio):
  return distancia/consumo_medio

t = float(input("Informe o tempo gasto na viagem: "))
v = float(input("Informe a velocidade média do veículo: "))
consumo_medio = float(input("Informe o consumo médio do véiculo: "))

distancia = t * v
comb_gasto = cal_combustivel(distancia, consumo_medio)

print(f"A quantidade de combustível gasto é: {comb_gasto:.2f} litros")

Informe o tempo gasto na viagem: 10
Informe a velocidade média do veículo: 40
Informe o consumo médio do véiculo: 12
A quantidade de combustível gasto é: 33.33 litros

In [ ]:
def areatriangulo(base, altura):
  area = (base * altura)/2
  return area

In [ ]:

print(areatriangulo(5, 10))

25.0

In [ ]:
def f(x):
  res = x**3 + 3
  res = res + 1
  return res

In [ ]:
f(4)

68

In [ ]:
hora = 12
print("Agora sao", hora, "horas")

Agora sao 12 horas

In [ ]:
dia = 1
mes = 1
ano = 2023
print(dia, mes, ano, sep="/")

1/1/2023